@import '_breakpoints.scss';
@import '_spacing.scss';
@import '_themes.scss';

#breeding-calculator {
  width: 100%;
}

#breeding-calculator__selectors {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include phone-landscape {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

// #breeding-calculator__color-probabilities {
//   @include phone-landscape {
//     margin: 10px 0;
//     width: 100%;
//   }
// }

#breeding-calculator__results {
  display: flex;
  flex-direction: column;

  background-color: $light-theme-1;
  box-sizing: border-box;
  border-radius: 5px;
  padding: $spacing-4;
  margin: $spacing-5 0 0;
  width: 100%;

  @include phone-landscape {
    flex-direction: row;
  }
}

.results__col {
  @include phone-landscape {

  }
}

.results__col .color-probability {
  margin: $spacing-5 0;
}