@import '_spacing.scss';

.color-probability {
  margin: 5px 0 20px;
}

.color-probability h2 {
  font-size: 22px;
  margin: 30px 0 12px;

  @include phone-landscape {
    margin: 0 0 16px;
  }
}

.color-probability .colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}