@import '_breakpoints.scss';
@import '_spacing.scss';

.gene-probability h2 {
  font-size: $font-size-4;
}

.gene-probability__gene-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gene-probability__gene {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  img {
    border: 3px solid transparent;
  }

  &.selected {
    font-weight: bold;

    img {
      border: 3px solid;
    }
  }
}