@import '_breakpoints.scss';

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 750px;
  margin: 80px 2rem 0;

  @include phone-landscape {
    padding: 0 30px;
    max-width: 750px;
  }
}

#dragon__selectors {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include phone-landscape {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

#color-probabilities {
  @include phone-landscape {
    margin: 10px 0;
    width: 100%;
  }
}

main h3 {
  align-self: flex-start;
  margin: 5px 0 20px;
}