@import '_spacing.scss';

.matchmaking__button {
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  padding: 12px 18px;
  margin: 3px 0;
  width: 220px;

  @include phone-landscape {
    padding: 8px;
    width: unset;
  }
}