.matchmaking__parent .color {
  cursor: unset;
}

.matchmaking__parent__name {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  width: 140px;

  &:hover {
    text-decoration: underline;
  }
}

.matchmaking__parent__sex {
  margin-left: 5px;
}